<!DOCTYPE html>
<html>
  <head>
    <title>ParticipationTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      html, body, #root {
        height: 100%;
      }
      body {
        margin: 0px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
